window>.bar {
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: 5px;
  border-radius: 0.8rem;
}

.bar {
  background: $bg;
  font-size: 1.2rem;
  font-weight: bold;
  color: $fg;
}

.left,
.center,
.right {
  padding: 5px;
  padding-right: 8px;
}

.tag {
  margin: 1px 0px;
  // margin-left: 0.3rem;
  border-bottom: 2px solid rgba(0, 0, 0, 0);

  &:hover {
    // transition: 100ms linear border-color;
    // border-bottom: 2px solid $blue;
    color: $blue;
    transition: background-color 100ms ease-in-out;
  }
}

.time {
  margin-left: 0.2rem;
  font-family: $font;
  font-size: 1.4rem;
}

.icons {
  font-size: 1.3rem;

  &.menu-icon {
    color: $mint;
    font-size: 1.4rem;
    margin-right: 0.3rem;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
  }

  &.wifi-icon {
    color: $magenta;
    margin-right: 0.3rem;
  }

  &.volume-icon {
    color: $green;
    margin-right: 0.2rem;
  }

  &.brightness-icon {
    color: $yellow;
    margin-right: 0.2rem;
  }

  &.battery-icon {
    color: $blue;
    margin-left: 0.3rem;
  }

  &.notify-icon {
    color: $mint;
  }

  &.power-icon {
    color: $red;
    font-size: 1.5rem;
    margin-left: 0.3rem;
  }
}
