.cal-box {
  background-color: $bg;
  font-family: $font;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 0.8rem;
  margin: 1rem;

  .cal-inner-box {
    padding: 1rem 1rem .2rem;

    .cal {
      &.highlight {
        padding: 10rem;
      }

      padding: .4rem .25rem 0rem;
      margin-left: 10px;
    }
  }
}

calendar:selected {
  color: $red;
}

calendar.header,
calendar.highlight {
  font-weight: bold;
  color: $blue;
}

calendar:indeterminate {
  color: $fg-alt;
}

calendar.button {
  color: $blue;
}
