window>.powermenu {
  margin: 1rem;
  box-shadow: 0 0 5px 2px rgba(black, 0.5);
  background-color: $bg;
  border: 0.1rem solid $fg;
}

.powermenu {
  font-family: $font;
  font-size: 2.3rem;
  background-color: transparent;
  padding: .8rem 1rem;
  border-radius: 1rem;

  &.shutdown {
    color: $red;
  }

  &.reboot {
    color: $green;
  }

  &.suspend {
    color: $yellow;
  }

  &.exit {
    color: $blue;
  }

  button {
    background-color: $bg-alt;
    padding: 1.5rem 2rem;

    &:hover {
      background-color: lighten($color: $bg-alt, $amount: 7%);
      // background-color: $fg;
    }
  }
}
