configuration {
  display-drun: "Applications:";
  display-window: "Windows:";
  display-emoji: "Emoji";
  font: "JetBrains Mono 10";
  modi: "window,run,drun,emoji";
}

@theme "~/.config/rofi/themes/nightfly.rasi"
