* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 16px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #f6f7fc;
}

tooltip {
    background: #c3ccdc;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #011627;
}

tooltip label{
    color: #011627;
}

#workspaces button {
    padding: 5px;
    color: #f6f7fc;
    margin-right: 5px;
}

#workspaces button.active {
    color: #000000;
    background: #82aaff;
    border-radius: 10px;
}

#workspaces button:hover {
    background: #1a2d3c;
    color: #c3ccdc;
    border-radius: 10px;
}

#window,
#cpu,
#disk,
#custom-updates,
#memory,
#clock,
#battery,
#pulseaudio,
#network,
#tray,
#temperature,
#workspaces,
#idle_inhibitor,
#backlight {
    background: rgba(21, 18, 27, 0);
    opacity: 0.8;
    padding: 0px 6px;
    margin: 0px 3px;
    border: 0px;
}

#custom-updates {
    padding: 0px 2px;
}

#temperature.critical {
    color: #e92d4d;
}

#workspaces {
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
