* {
  all: unset;
  transition: 200ms;
}

// Nightfly
// $bg: #011627;
// $bg-alt: #1a2d3c;
// $fg: #c3ccdc;
// $fg-alt: #d6deeb;
// $red: #fc514e;
// $green: #a1cd5e;
// $emerald: #21c7a8;
// $mint: #61c9a8;
// $yellow: #e3d18a;
// $blue: #82aaff;
// $magenta: #c792ea;
// $cyan: #296596;
// $white: $fg;

// Moonfly
$bg: #080808;
$bg-alt: #202020;
$fg: #b2b2b2;
$fg-alt: #b9b9b9;
$red: #ff5454;
$green: #8cc85f;
$emerald: #74b2ff;
$mint: #36c692;
$yellow: #e3c78a;
$blue: #80a0ff;
$magenta: #cf87e8;
$cyan: #74b2ff;
$white: $fg;
$font: "jetBrainsMono Nerd Font";

tooltip {
  font-family: $font;
  font-weight: 500;
  font-size: 1rem;
  color: $fg;
  background-color: $bg;
  border: 3px solid $bg;
  border-radius: .5rem;
}

@import "./styles/powermenu.scss";
@import "./styles/bar.scss";
@import "./styles/calendar.scss";
